// SITE FOOTER LAYOUT STYLES
////////////////////////////////////////////////////////////////
.site-footer-container {
  max-width: $max-width/2;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer a {
  color: #fff;
  font-style: italic;
  font-weight: 400;
}

.site-footer__logo {
  width: 200px;
}
