// SITE HEADER LAYOUT STYLES
////////////////////////////////////////////////////////////////
.site-header {
  position: absolute;
  width: 100%;
  padding: $small-spacing 0;
  background: rgba($dark-green, .8);
  z-index: 99;

  a {
    display: block;
    color: #fff;
    font-weight: 100;

    &:hover {
      color: $light-orange;
    }

    img {
      display: block;
    }
  }

  .brand {
    margin-right: $base-spacing;
    max-width: 60%;
    width: 200px;

    @include media($nav-break){
      margin-right: 0;
    }
  }

  .current-menu-item {
    border-bottom: $base-border;
  }
  .menu-item {
    margin-left: $base-spacing;
  }
}

.site-header__container {
  display: flex;
  max-width: $max-width;
  align-items: center;
  margin: auto;
  padding: 0 $base-spacing;

  @include media($nav-break){
    justify-content: space-around;
  }
}


// navigation
a.nav-primary-toggle {
  position: absolute;
  display: none;
  right: $small-spacing;

  @include  media($nav-break){
    display: block;
  }
}

.nav-primary{

  @include media($nav-break){
    display: none;
  }

  ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;

    li {
      display: block;
    }
  }

}
