// SITE SECTIONS LAYOUT STYLES
////////////////////////////////////////////////////////////////
%section {
  position: relative;
  padding: $large-spacing 0;
  z-index: 1;
}

.l-section {
  @extend %section;
  background:  $base-background-color;
}

.l-section--secondary {
  @extend %section;
  @extend %inverse;
  @include green-gradient;
}
