// BASE BUTTON STYLES
////////////////////////////////////////////////////////////////

%button-base {
  position: relative;
  display: inline-block;
  padding: .5em 1em;
  color: #fff !important;
  background-color: none;
  border: none;
  border-radius: 0;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background, .2s;

  &:before {
    @include orange-gradient;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: solid 1px $orange;
    z-index: -1;
    transition: all .3s;
    transform: $base-skew;
  }

  a { color: #fff; }

  &:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff !important;
    text-decoration: none;

    &:before{
      @include orange-hover-gradient;
      background-image: $orange;
      border-color: $base-color;
      outline: 0;
    }

    a {
      color: #fff !important;
    }
  }
}

// Button Types
////////////////////////////////////////////////////////////////

// Main Button
button,
.button {
  @extend %button-base;
}

// Secondary Button
.button--secondary {
  @extend %button-base;
  color: #fff!important;

  &:hover,
  &:active,
  &.active{

    &:before {
    }
  }
}


// Button Sizes
////////////////////////////////////////////////////////////////

.button--large {
  @extend %button-base;
  font-size: 1.5em !important;
}

.button--small {
  @extend %button-base;
  font-size: .75em !important;
}

.button--tiny {
  @extend %button-base;
  font-size: .5em !important;
}

.button--block {
  @extend %button-base;
  display: block !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// Special Links
////////////////////////////////////////////////////////////////

.button--link:after{
  position: relative;
  top: -.05em;
  left: .25em;
  content: "›";
  font-size: 1em;
  line-height: 0;
}
