// GLOBAL MIXINS
////////////////////////////////////////////////////////////////

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}


@mixin orange-gradient {
  background-image: linear-gradient(to right, $light-orange, $orange);
}

@mixin orange-hover-gradient {
  background-image: linear-gradient(to right, darken($light-orange, 10), darken($orange, 10));
}

@mixin green-gradient {
  background-image: linear-gradient(to right, $green, $dark-green);
}

@mixin skew {
  transform: skewX(-12deg);
}
