// GLOBAL VARIABLES
////////////////////////////////////////////////////////////////

// Typography
$base-font-family:'Roboto', sans-serif;
$secondary-font-family: $base-font-family;

// Sizes
$max-width: 1200px;
$base-spacing: 2rem;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ccc;
$orange: #EE7E39;
$light-orange: #FCAB54;
$yellow: #F2E185;
$green: #295D52;
$dark-green: #033B46;

// Font Colors
$base-color: $orange;
$base-font-color: $dark-gray;
$secondary-font-color: #fff;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: $dark-gray;

// Borders
$base-border-color: $light-gray;
$base-border-radius: 3px;
$base-border: 1px solid $base-border-color;

// skew
$base-skew: skewX(-12deg);
$inverse-skew: skewX(12deg);
